/* Example styling of a h1 element */
html, body {
  margin: 0;
  padding: 0;
}

.intro {
  position: relative;
  margin: 0;
  width: 100%;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: grey;

}

.intro ul li {
  list-style-type: square;
}

h1 {

}

p {
  color: blue;
}


.setup {
  position: relative;
  margin: 0;
  width: 100%;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: blue;
}

.workflow {
  position: relative;
  margin: 0;
  width: 100%;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: green;
}

.external {
  position: relative;
  margin: 0;
  width: 100%;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: red;
}
