/* Example styling of a h1 element */
html, body {
  margin: 0;
  padding: 0;
  text-align: center;

}

div {
  position: relative;
  margin: 0;
  width: 100%;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.intro ul li {
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  line-height: 200%;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 20px;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 200%;
}


code {
    background-color: #3a7f67;
    border-radius: 10px;
    color: white;
    padding: 8px 17px;
}

a, a:visited {
	text-decoration: none;
  color: #000000;
}

a:hover {
    text-decoration: underline;
    color: #000000;
}

.external a, .external a:visited{
  text-decoration: none;
  color: #ffffff;
}

.external a:hover {
  text-decoration: underline;
  color: #ffffff;
}



/* Blocks */
.intro {
  background-color: #ffffff;
  color: #000000;
}

.info {
  background-color: #3a757f;
}

.roles {
  background-color: #3a527f;
}

.planning {
  background-color: #453a7f;
}

.sprint {
  background-color: #673a7f;
}

.standup {
  background-color: #7f3a75;
}

.review {
  background-color: #673a7f;
}

.retrospective {
  background-color: #453a7f;
}

.outro {
  background-color: #3a527f;
}

.external {
  background-color: #3a757f;
}


/* LINKS */
